:root{
   --сolor-black: #0D0D0D;
   --сolor-grey: #262626;
   --сolor-white: #ffffff;
   --сolor-white-dark: #e7e7e7;
   --color-green: #242611;
   --color-warning: rgb(235, 84, 84);
   --color-primary: rgb(82, 96, 253);
}
.bound{
   padding: 0 2rem;
   width: 100%;
   max-width: 50rem;
}
.anim{
   transition-property: opacity, transform;
}
.anim-end{
   transform: translateX(0rem) !important;
   opacity: 1 !important;
}
.anim-fade{
   opacity: 0;
}
.anim-from-left{
   transform: translateX(-8rem);
}
@media screen and (max-width:500px) {
   .anim-from-left{
      transform: translateX(-5rem);
   }
}