@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"); /*  font-family: 'Poppins', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap"); /*  font-family: 'Open Sans', sans-serif; */

@import url("./static/styles/nav.css");
@import url("./base.css");

*{
   line-height: 1.25;
   box-sizing: border-box;

   padding: 0;
   margin: 0;

   scroll-behavior: smooth;

	letter-spacing: 0.2px;
	font-family: "Poppins", sans-serif;
	font-style: normal;
}
body{
	background-color: rgb(255, 255, 255);
}
a{
  text-decoration: none;
  cursor: pointer;
  color: initial;
}
::-webkit-scrollbar{
   width: 0rem;
}
::-moz-selection { /* Code for Firefox */
	color: rgb(255, 255, 255);
	background: rgb(24, 24, 24);
 }
 
 ::selection {
	color: rgb(255, 255, 255);
	background: rgb(24, 24, 24);
 }