@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"); /*  font-family: 'Poppins', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap"); /*  font-family: 'Open Sans', sans-serif; */

@import url("./static/css/nav.css");

*{
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	box-sizing: border-box;
}
html{
	line-height: 1.25;
	background-color: rgb(255, 255, 255);
	font-family: "Poppins", sans-serif;
	box-sizing: border-box;
	color: rgb(0, 0, 0);
	letter-spacing: 0.2px;
}
a{
  text-decoration: none;
  color: initial;
}
::-webkit-scrollbar{
   width: 0rem;
}

::-moz-selection { /* Code for Firefox */
	color: rgb(255, 255, 255);
	background: rgb(24, 24, 24);
 }
 
 ::selection {
	color: rgb(255, 255, 255);
	background: rgb(24, 24, 24);
 }