body {
  width: 100%;
  height: 100dvh;
}
.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(255, 255, 255);
  height: 100%;
  width: 100%;
}
.main .about{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aboutMe h1{
  font-weight: 500;
  font-size: 4rem;
  text-align: center;
}
.aboutMe h2{
  font-weight: 600;
  font-size: 1.5rem;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
.socialMedia ul{
  line-height: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 1em;
}
.socialMedia ul li{
  display: block;
}
.socialMedia ul li a{
  text-decoration: nones;
}
.socialMedia ul li img{
  width: 2em;
}
.main .projects{
  justify-self: end;
  display: flex;
  gap: 0.6rem;
}
.btn{
  font-family: 'Poppins', sans-serif;
  padding: 0.8rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.25em;
  background-color: black;
  color: aliceblue;
  text-decoration: none;
  transition: 0.4s;
}
.btn:hover{
  cursor: pointer;
  opacity: 0.85;
}