@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap'); /*  font-family: 'Poppins', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');           /*  font-family: 'Open Sans', sans-serif; */

*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
html{
  line-height: 1.2;
  background-color: rgb(255, 255, 255);
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
}
body {
  width: 100vw;
  height: 100vh;
}
.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(255, 255, 255);
  height: 100%;
  width: 100%;
}
.main .about{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aboutMe h1{
  font-weight: 500;
  font-size: 4rem;
  text-align: center;
}
.aboutMe h2{
  font-weight: 600;
  font-size: 1.5rem;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
.socialMedia ul{
  line-height: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 1em;
}
.socialMedia ul li{
  display: block;
}
.socialMedia ul li a{
  text-decoration: nones;
}
.socialMedia ul li img{
  width: 2em;
}
.main .projects{
  justify-self: end;
  display: flex;
  gap: 0.6rem;
}
.btn{
  font-family: 'Poppins', sans-serif;
  padding: 0.8rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.25em;
  background-color: black;
  color: aliceblue;
  text-decoration: none;
  transition: 0.4s;
}
.btn:hover{
  cursor: pointer;
  opacity: 0.85;
}