@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap'); /*  font-family: 'Poppins', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');           /*  font-family: 'Open Sans', sans-serif; */

*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
html{
  line-height: 1.2;
  background-color: rgb(255, 255, 255);
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.nav{
  display: flex;
  align-self: flex-start;
  justify-content: start;
  padding: 1em;
  border-bottom: 0.1em solid rgb(232, 232, 232);
  width: 100%;
}
.btn{
  font-family: 'Poppins', sans-serif;
  padding: 0.8rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.25em;
  background-color: black;
  color: aliceblue;
  text-decoration: none;
  outline: none;
}
.button:hover{
  cursor: pointer;
  background-color: rgb(50, 50, 50);
}
.projects{
  margin: 0 auto;
  max-width: 1200px;

  display: grid;
  justify-content: center;
  gap: 1.68rem;
}
.example{
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;

  border: 0.1rem solid rgb(232, 232, 232);
  border-radius: 1rem;

  background-color: rgb(255, 255, 255);
}
.icon{
  display: flex;
  justify-content: center;
  align-items: flex-start;

  border-bottom: 0.1rem solid rgb(232, 232, 232);
}
.icon img{
  width: 100%;
}
.info{
  padding: 1.25rem;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;

  text-align: center;
}
.info .text{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;

  text-align: center;
}
.info .text h1{
  font-size: 2em;
}
.info .text p{
  font-size: 1em;
  color: rgb(96, 96, 96);
}
.info .reference{
  display: flex;
  justify-content: center;
  align-items: flex-end;

  text-align: center;

  width: 100%;
}
.info .reference .btn{
  width: 100%;

  text-align: center;
}

@media screen and (min-width: 700px) {
  .projects{
    grid-template-columns: repeat(2,1fr);
  }
}

@media screen and (min-width: 1000px) {
  .projects{
    grid-template-columns: repeat(3,1fr);
  }
}