body{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
}
.button{
  font-family: 'Poppins', sans-serif;
  padding: 0.8rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.25em;
  background-color: black;
  color: aliceblue;
  text-decoration: none;
  text-align: center;
  transition: 0.4s;
}
.button:hover{
  cursor: pointer;
  opacity: 0.85;
}
.donate{
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.icons{
   margin: 1rem;
}
.icons ul{
   list-style: none;
   display: flex;
}
.icons ul li img{
   width: 2.5rem;
   height: 2.5rem;
}
.waysToDonate{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 1rem;
}
#Ymoney{
   width: 6rem;
   background-color: rgb(133, 111, 222);
}
#Ymoney:hover{
   background-color: rgb(155, 132, 244);
}
#donAlerts{
   width: 6rem;
   background-color: rgb(235, 184, 75);
}
#donAlerts:hover{
   background-color: rgb(255, 200, 82);
}
