@import "../../../../base.css";

@import "title.scss";
@import "buttons.scss";

main{
   width: 100%;
   height: fit-content;
   min-height: 100dvh;

   overflow-x: hidden;

   display: flex;
   flex-direction: column;
   align-items: center;

   background-color: var(--сolor-white);
 }